.fade-enter-active {
  animation: fade 500ms;
}

.fade-leave-active {
  animation: fade-out 400ms;
}

@keyframes fade {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(5%);
    opacity: 0;
  }
}

.isError {
  animation: shake 300ms linear;
}

@keyframes shake {
  0% {
    transform: translateX(-2%);
  }

  25% {
    transform: translateX(2%);
  }

  50% {
    transform: translateX(-2%);
  }

  75% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0%);
  }
}

.error-enter-active {
  animation: error 400ms;
}

.error-leave-active {
  animation: error 400ms reverse;
}

@keyframes error {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.modal {
  z-index: 9999;
}

.fadeOutLoading-enter-active {
  animation: fade-out-loading 500ms;
}

.fadeOutLoading-leave-active {
  animation: fade-out-loading 150ms reverse;
}

@keyframes fade-out-loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-setting-enter-active {
  animation: pop-up-setting 300ms;
}

.pop-up-setting-leave-active {
  animation: pop-up-setting 300ms reverse;
}

@keyframes pop-up-setting {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeUpMenu-enter-active {
  animation: fadeUpMenu 500ms;
}

.fadeUpMenu-leave-active {
  animation: fadeUpMenu 500ms reverse;
}

@keyframes fadeUpMenu {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .fadeUpMenu-enter-active {
    animation: fadeUpMenu 300ms;
  }

  .fadeUpMenu-leave-active {
    animation: fadeUpMenu 300ms reverse;
  }

  @keyframes fadeUpMenu {
    0% {
      transform: translateY(-20%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.switchMode-enter-active,
.switchMode-enter-active {
  transition: all 400ms ease;
}

.switchMode-enter-from,
.switchMode-enter-from {
  opacity: 0;
  transform: rotate(360);
}